<robot name="qianxun" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="base.xacro" />
    <xacro:include filename="qx_base.xacro" />
    <xacro:include filename="qx_camera.xacro" />
    <xacro:include filename="qx_laser.xacro" />

    <!-- gazebo xacro 文件 -->
    <xacro:include filename="qx_move_gazebo.xacro" />
    <xacro:include filename="qx_laser_gazebo.xacro" />
    <xacro:include filename="qx_camera_gazebo.xacro" />

</robot>
