<robot name="qianxun" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="base.xacro" />
    <xacro:include filename="qx_base.xacro" />
    <xacro:include filename="qx_camera.xacro" />
    <xacro:include filename="qx_laser.xacro" />

    <xacro:include filename="qx_move.xacro" />

</robot>
